.ca {
  display:flex;
  justify-content:space-around;
  align-items:center;
  height:100vh;
  flex-direction: row;
}

.b1 {
  background-color: blueviolet;
}

.b2 {
  background-color: blue;
}

.b3 {
  background-color: chartreuse;
}